main > p {
  margin: 10px 0;
  color: rgb(91, 91, 91);
  letter-spacing: 1px;
  font-size: 14px;
}

.buttons {
  margin-right: 16px;
  border:none;
  box-shadow: none;
  background-color: #f7f7f7;
  font-size: 16px;
  font-weight: 400;
  padding: 8px;
}

#items {
  flex-wrap: wrap;
  justify-content: left;

  a {
    text-decoration: none;
  }

  li {
    width: 25%;

    a {
      display: block;
      margin: 8px 7px;
    }

    figure {

      img {
        aspect-ratio: 3/4;
      }
    }

    p {
      font-size: 14px;
      color: grey;
    }

    .price1 {
      text-decoration: line-through;
      margin-right: 10px;
    }
  }
}