main, footer {
  max-width: 1440px;
  margin: auto;
}

/*header*/

.flex {
  display: flex;
}

.sitewide-top {
  background-color: rgb(54, 43, 43);
  height: 41px;
  justify-content: space-between;

  .top-div {
    max-width: 1400px;
    justify-content: space-between;
  }

  p {
    color: white;
    font-size: 11px;
    margin-top: 14px;
  }
}

.logos {
  display: flex;
  width: auto;
  height: 38px;

  a {
    padding: 13px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

/*nav*/

.sitewide-nav {
  max-width: 1550px;
  border-bottom: 1px solid rgb(78, 78, 78);
}

.nav-left {
  padding: 40px 10px 30px 10px;
  width: 83%;
  justify-content: space-between;

  .logo-container {
    width: 95px;
    height: 30px;
    margin-top: -10px;
  }

  .nav-a {
    display: inline-block;
    padding: 0 8px;
    text-decoration: none;
    color: rgb(65, 65, 65);
    letter-spacing: 1px;
  }
}

.nav-right {
  width: 17%;
  margin-top: 8px;
  
  .in-nav {
    justify-content: space-between;
  
    a {
      width: 60px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  form {
    border-bottom: 1px solid black; padding-bottom: 8px;
    height: 36px;

    input {
      width: 87%;
      border: none;
      outline: none;
      box-shadow: none;
      background: transparent;
    }

    button {
      width: 13%;
      border: none;
      outline: none;
      box-shadow: none;
      background: transparent;
    }
  }
}

/*footer*/

/*part three*/

.part-three {
  padding: 32px 0;
  width: 800px;
  margin: auto;
  justify-content: space-evenly;

  h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  p {
    font-size: 15px;
  }
}

.four-logos-container {
  width: 400px;
  padding-top: 40px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }
}

.subscribe {
  justify-content: space-around;
  flex-basis: auto;
  border-top: 3px solid black;
  padding: 55px;

  .glide {
    width: 200px;
  }
  
  .glide__slide {
    width: 100px;
    height: 80px;

    img {
      width: 200px;
    }
  }
}

.social-media-container {
  border-bottom: 1px solid black;
  border-top: 1px solid rgb(175, 175, 175);
  
  figure {
    width: 620px;
    height: auto;
    margin: auto;
    padding: 12px 0;

    img {
      margin-top: 8px;
    }
  }
}

.more {
  width: 1000px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  
  .on-container {
    width: 60px;
    height: 30px;
  }

  ul {
    width: 25%;

    li:first-child {
      margin-bottom: 20px;

      h1 {
        font-size: 16px;
      }
    }
  }

  .on-container {
      width: 80px;
      height: auto;



  }
}


.policy {
  div {
    text-align: center;
  }
}

.fixed-bottom {
  text-align: center;
  margin: auto;
  width: 300px;
  background-color: rgb(22, 17, 17);

  p {
    text-align: center;
    color: white;
  }
}