.width {
  max-width: 1300px;
}

/*part first*/

.part-first {
  h1 {
    font-size: 26px; 
    padding: 20px 0;
  }

  .main-photo {
    margin: 8px 4px;
    background-repeat: no-repeat;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
  }
}

/*part second*/

.part-second {

  .cat-ul {
    margin-top: 20px;
    flex-wrap: wrap;

    li {
      width: 25%;
  
      a {
        display: block;
        margin: 8px 4px;
        text-decoration: none;
      }
    }
  }

  .menu-container {
    li {
      margin: 8px 4px;
    }
  }

  .second-title {
    font-weight: bold;
    color: #003764;
    letter-spacing: 1px;
  }


}

/*part third*/

.part-third {
  a {
    text-decoration: none;
    color: black;
  }
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

/*part fourth*/

.part-fourth {
  margin: 80px 100px 20px 100px;

  p {
    font-size: 18px;
    letter-spacing: 1px;
  }
}