

.width {
  max-width: 1300px;
}

/*part first*/

.part-first {
  h1 {
    font-size: 26px; 
    padding: 20px 0;
  }

  .main-photo {
    margin: 8px 4px;
    background-repeat: no-repeat;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
  }
}

/*part second*/

.part-second {

  ul.flex {
    margin-top: 20px;
  }

  li {
    margin: 8px 4px;
  }

  .second-title {
    font-weight: bold;
    color: #003764;
    letter-spacing: 1px;
  }


}

/*part third*/

/*arrows are way down there. I'll fix that too*/
.part-third {
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

/*part fourth*/

/*왜 좌 패딩이 저리 많지 I'll fix it myself*/
.part-fourth {
  margin: 80px 100px 20px 100px;

  p {
    font-size: 18px;
    letter-spacing: 1px;
  }
}