/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  font-family: Helvetica Neue,Helvetica,Arial,Roboto,sans-serif
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}


/*glider*/

button.glide__arrow.glide__arrow--right.one-arrow-right {
	right: -1.5em;
}
button.glide__arrow.glide__arrow--right.one-arrow-right {
	top: 50%;
}
.glide.glide--ltr.glide--slider.glide--swipeable {
	width: auto;
}
button.glide__arrow.glide__arrow--left.one-arrow-left {
	left: -1.5em;
}
button.glide__arrow.glide__arrow--left.one-arrow-left {
	top: 50%;
}
button.glide__arrow.glide__arrow--right.one-arrow-right {
  padding: 0;
}
button.glide__arrow.glide__arrow--left.one-arrow-left {
  padding: 0;
}

.glide {
  margin: 20px 20px;
}

.glide-ul {
  display: flex;
  flex-direction: row;

  li {
    margin-left: 16px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.glide__slide {
  padding: 0 8px;
  width: 100%;
}

.glide__arrow {
  height: 100%;
  border: none;

  button {
    height: auto;
    padding: 0;
  }

  img {
    filter: invert(100%);
  }
}
.left-arrow {
  transform: scaleX(-1);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}